.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
  
  html {
    height: 100%;
    width: 100%;
    max-width: 100%;
    overflow-x: hidden;
  }
  
  body {
    min-height: 100%;
    background-color: #F5F5F5;
    min-width: 320px;
    margin: 0 auto;
    overflow-x: hidden;
    font-family: "Roboto", sans-serif;
    color: #1e1e1e;
  }
  button,
  a{
   cursor: pointer;
   text-decoration: none;
  }
  p,
  h2,
  h1,
  h3{
    margin: 0;
  }
  li{
    list-style: none;
  }
  ul{
    margin: 0;
    padding: 0;
  }
  img{
    width: 100%;
    height: 100%;
  }
  .header_list-item-link{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
    color: #9a8265;
  }
  .main-section{
    background-image: url("./img/png/image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    border-radius: 25px;
    position: relative;
    padding-bottom: 140px;
  }
  .main-section_h1{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #fff;
    text-transform: uppercase;
    padding-top: 97px;
    padding-left: 38px;
  }
  .main-section_p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #fff;
    width: 626px;
    padding-left: 38px;
    margin-top: 30px;
    margin-bottom: 120px;
  }
  .main-section_button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #fff;
    background-color: #9a8265;
    padding: 25px 45px 25px;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 60px;
    position: absolute;
    bottom: 0;
  }
  .section-img{
    margin-top: 89px;
    margin-bottom: 90px;
  }
  .section-img_list{
    display: flex;
    justify-content: center;
    gap: 144px;
  }
  .section-img_list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-img_list-item-h3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #9a8265;
    text-align: center;
    display: flex;
    margin-top: 20px;
  }
  .section-description_list{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 87px;
  }
  .section-description_list-item-h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 75px;
    color: #1e1e1e;
    margin-bottom: 25px;
  }
  .section-description_list-item-p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #1e1e1e;
    margin-bottom: 25px;
  }
  .section-description_list-item-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #fff;
    background-color: #9a8265;
    padding: 25px 45px 25px;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 60px;
    display: inline-block;
  }
  .section-description_list-item-h3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 32px;
    line-height: 37px;
    color: #1e1e1e;
    margin-bottom: 20px;
  }
  .section-description_list-item1{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #1e1e1e;
  }
  .section-description_list-item1:nth-child(1){
    margin-bottom: 20px;
  }
  .section-description_list-item1:nth-child(2){
    margin-bottom: 20px;
  }
  .section-description_list-item1-span{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #1e1e1e;
  }
  .section-review{
    margin-bottom: 80px;
  }
  .section-review_h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #1e1e1e;
    text-align: center;
    margin-bottom: 60px;
  }
  .swiper-slide-h3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
    color: #1e1e1e;
  }
  .swiper-slide-list1{
    display: flex;
    gap: 24px;
  }
  .swiper-slide-p{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #000;
    margin-bottom: 15px;
  }
  .section-aplication_h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #1e1e1e;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 30px;
  }
  .section-aplication_p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #1e1e1e;
    width: 855px;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    text-align: center;
    margin-bottom: 60px;
  }
  .section-aplication_list{
    display: flex;
    gap: 27px;
    justify-content: space-between;
    margin-bottom: 66px;
  }
  .section-aplication_list-item:nth-child(1){
    background-image: url("./img/png/Frame\ 22.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 224px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section-aplication_list-item:nth-child(2){
    background-image: url("./img/png/Frame\ 23.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 224px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section-aplication_list-item:nth-child(3){
    background-image: url("./img/png/Frame\ 24.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 224px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section-aplication_list-item:nth-child(4){
    background-image: url("./img/png/Frame\ 24.png");
    background-repeat: no-repeat;
    background-size: cover;
    width: 25%;
    height: 224px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .section-aplication_list-item-h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #fff;
    text-align: center;
  }
  .section-aplication_list-item-h3--margin{
    margin-bottom: 10px;
  }
  .section-aplication_list-item-p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #fff;
  }
  .section-order_list{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    justify-content: space-between;
    gap: 40px;
    margin-bottom: 80px;
  }
  .section-order_list-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 145px;
    background-color: #fff;
    border-radius: 15px;
    position: relative;
  }
  .section-order_list-item:nth-child(1) svg{
    position: absolute;
    top: 110%;
  }
  .section-order_list-item:nth-child(2) svg{
    position: absolute;
    left: 102%;
  }
  .section-order_list-item:nth-child(3) svg{
    position: absolute;
    top: 110%;
  }
  .section-order_list-item:nth-child(4) svg{
    position: absolute;
    left: 102%;
  }
  .section-order_list-item:nth-child(5) svg{
    position: absolute;
    bottom: 110%;
  }
  /* .section-order_list-item:nth-child(3){
    background-color: inherit;
    width: 19px;
  }
  .section-order_list-item:nth-child(9){
    background-color: inherit;
    width: 19px;
  }
  .section-order_list-item:nth-child(5){
    background-color: inherit;
    width: 30%;
  }
  .section-order_list-item:nth-child(6){
    background-color: inherit;
    width: 30%;
  }
  .section-order_list-item:nth-child(7){
    background-color: inherit;
    width: 30%;
  } */
  .section-order_h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 48px;
    line-height: 56px;
    color: #1f1f1f;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 60px;
  }
  .section-order_h3{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #1f1f1f;
  }
  .section-order_p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #9a8265;
    width: 300px;
    margin: 0 auto;
    text-align: center;
    margin-top: 10px;
  }
  .section-feedback{
    padding: 56px 51px 23px;
    background-image: 
    url("./img/png/advantages\ 1.png"),
    url("./img/png/кровля\ 1.png");
    background-repeat: no-repeat;
    background-size: cover, 50%;
    height: 600px;
    text-align: end;
    border-radius: 12px;
    margin-bottom: 150px;
  }
  .section-feedback_div{
    display: flex;
    flex-direction: column;
    align-items: end;
  }
  .section-feedback_h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 64px;
    line-height: 64px;
    color: #1f1f1f;
    width: 783px;
    margin-bottom: 30px;
  }
  .section-feedback_p{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 23px;
    color: #1f1f1f;
    margin-bottom: 30px;
    width: 619px;
  }
  .section-feedback_input{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 23px;
    color: #1f1f1f;
    width: 561px;
    height: 45px;
    padding: 11px 30px 11px;
    border-radius: 30px;
    border: 0;
    box-sizing: border-box;
    margin-bottom: 20px;
  }
  .section-feedback_button{
    background-color: #9a8265;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 28px;
    color: #fff;
    padding: 15px 220px 15px;
    box-sizing: border-box;
    border: 0;
    border-radius: 60px;
    margin-bottom: 16px;
  }
  .section-feedback_paragraph{
    font-family: "Roboto", sans-serif;
    font-weight: 300;
    font-size: 15px;
    line-height: 17px;
    color: #1f1f1f;
  }
  .footer_list{
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 80%;
    margin-top: 100px;
    margin-bottom: 150px;
  }
  .footer_list-item{
    text-align: center;
  }
  .footer_h2{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    color: #9a8265;
    text-transform: uppercase;
    text-align: center;
  }
  .footer_list-item-h3{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #9a8265;
    margin-bottom: 10px;
  }
  .footer_list-item-link{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    color: #9a8265;
  }
  .footer_list-item-button{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    background-color: #9a8265;
    text-transform: uppercase;
    color: #fff;
    padding: 10px 50px 10px;
    box-sizing: border-box;
    border-radius: 60px;
    border: 0;
  }
  .modal_h2{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
    color: #fff;
  }
  .modal_p{
    font-family: "Roboto", sans-serif;
    font-weight: 600;
    font-size: 24px;
    line-height: 24px;
    text-transform: uppercase;
    color: #fff;
  }
  .body{
    padding: 20px 8% 100px;
  }
  .header_list{
    display: flex;
  }
  .header{
    margin-bottom: 18px;
  }
  .swiper--margin{
    margin-top: 120px;
    margin-bottom: 90px;
  }
  .list-review{
    display: flex;
    gap: 24px;
    border-radius: 8px;
    padding: 25px 17px 25px;
    gap: 24px;
  }
  .list-item-review{
    background-color: #fff;
    border-radius: 8px;
    padding: 25px 17px 25px;
    box-sizing: border-box;
  }
  .list-item-review--flex{
    display: flex;
    align-items: center;
    justify-content: start;
    margin-bottom: 15px;
  }
  .swiper-slide{
    margin-left: 20px;
  }
  .swiper-slide-list{
    display: flex;
  }
  .section-aplication_div--width{
    width: 100%;
  }
  .footer_list-item--img{
    margin-bottom: 10px;
  }
  .modal{
    background-image: url("./img/png/advantages\ 1.png");
    width: 100%;
    height: 618px;
    background-size: cover;
    border-radius: 8px;
    text-align: center;
    padding-top: 170px;
  }
  .modal_h2{
    margin-bottom: 50px;
  }
  .main-section_button--display{
    display: none;
  }
 @media(max-width:768px){
  .body{
    padding: 11px 15px 0;;
  }
  .main-section {
    background-image: url("./img/png/img-mobile.png");
    background-size: cover;
    background-repeat: no-repeat;
  }
  .main-section_h1{
    font-size: 54px;
    line-height: 62px;
    font-weight: 500;
    padding: 0;
    text-align: center;
    margin: 0 auto;
    padding-top: 203px;
  }
  .main-section_p{
    padding: 0;
    width: 336px;
    text-align: center;
    font-size: 24px;
    margin: 0 auto;
    margin-top: 60px;
  }
  .main-section_button{
    display: none;
  }
  .main-section_button--display{
    display: block;
    text-align: center;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #fff;
    background-color: #9a8265;
    padding: 25px 0 25px;
    text-transform: uppercase;
    box-sizing: border-box;
    border-radius: 60px;
    margin-top: 30px;
    margin-bottom: 44px;
  }
  .section-img_list{
    display: flex;
    flex-wrap: wrap;
    gap: 53px;
  }
  .section-description_list{
    grid-template-columns: 1fr;
    gap: 60px;
  }
  .section-description_list-item-h2{
    font-size: 36px;
    line-height: 42px;
    width: 369px;
  }
  .section-description_list-item-p{
    font-size: 18px;
    line-height: 21px;
    width: 100%;
  }
  .section-description_list-item-button{
    font-size: 20px;
    line-height: 23px;
    padding: 25px;
  }
  .section-description_list-item:nth-child(4){
    grid-row-start: 3;
  }
  .section-description_list-item-h3{
    font-size: 24px;
    line-height: 28px;
  }
  .section-description_list-item1 {
    font-size: 18px;
    line-height: 21px;
  }
  .section-review_h2 {
    font-size: 55px;
    line-height: 64px;
  }
  .swiper-slide-p{
    font-size: 14px;
    line-height: 16px;
  }
  img{
    width: 100%;
  };
  .list-review{
    flex-direction: column;
  }
  .section-aplication_p {
    width: 100%;
    font-size: 18px;
    line-height: 21px;
  }
  .section-aplication_list{
    flex-wrap: wrap;
  }
  .section-aplication_list-item:nth-child(1){
    width: 100%;
  }
  .section-aplication_list-item:nth-child(2){
    width: 100%;
  }
  .section-aplication_list-item:nth-child(3){
    width: 100%;
  }
  .section-aplication_list-item:nth-child(4){
    width: 100%;
  }
  .section-order_list{
    display: flex;
    flex-wrap: wrap;
  }
  .section-feedback {
    padding: 56px 10px 23px;
    background-image: url("./img/png/advantages 1.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}
.section-feedback_h2{
  font-size: 54px;
  line-height: 64px;
  width: 320px;
  text-align: center;
 }
 .section-feedback_p{
  width: 100%;
  text-align: center;
 }
 .section-feedback_input{
  width: 100%;
  max-width: 500px;
 }
 .section-feedback_button{
  padding: 15px 80px 15px;
  margin: 0 auto;
  margin-bottom: 30px;
 }
 .section-feedback_paragraph{
  text-align: start;
 }
 .footer_list{
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 30px;
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 50px;
 }
 .footer_list-item--img{
  width: 50px;
  height: 50px;
 }
 .list-review{
  flex-direction: column;
}
}